body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    text-align: center;
}

#display {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
}


.item {
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.fun-key {
    background-color: rgb(251, 189, 80); 
}

.span-item {
    grid-column: 1 / span 2;
}


.output-container {
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    color: black;
    border-radius: 8px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
}
